/*
* @Author: Administrator
* @Date:   2018-09-05 18:30:27
* @Last Modified by:   Administrator
* @Last Modified time: 2018-10-11 22:56:41
*/
body{
	background: #f8f8fa;
}
.cart_main{
	width: 1200px;
	margin: 10px auto;	
	font-size: 12px;
}
.cart_header{
	height: 70px;
	margin-bottom: 10px;
}
.adressfix{
	margin-left: 15px;
}
.cart_header .search_box {
    float: right;
    width: 260px;
    height: 20px;
    padding: 5px 10px;
    margin: 15px 0px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(236, 234, 234);
    border-image: initial;
    border-radius: 5px;
    background: rgb(252, 251, 251);
}
#keyword{
	width: 230px;
	height: 20px;
	border: 0;
	outline: 0;
	font-size: 12px;
}
#search{
	color: #aaa;
	font-size: 15px;
	margin-left: 10px;
}
.cart_header .logo {
    float: left;
    padding-top: 17px;
    width: 40px;
    height: 28px;
    margin-right: 10px;
    background: url('../images/others/logo.png') no-repeat bottom;
}
.cart_header .logo_txt {
    float: left;
    padding-top: 8px;
    width: 73px;
    height: 40px;
    margin-right: 10px;
    background: url('../images/others/cart_txt.png') no-repeat 0 20px;
}
.cart_header .area_wraper{
	position: relative;
	float: left;
    height: 26px;
    width: 235px;
    padding-top: 18px;
    padding-left: 10px;
    line-height: 26px;
}
.cart_header .area_wraper>span{
	float: left;
	height: 26px;
	line-height: 26px;
}
.cart_header .area_wraper .adress>i{
	float: left;
	right: 10px;
    margin-top: 8px;
    width: 12px;
    height: 6px;
    margin-right: 10px;
    background: url('../images/others/sprite.png') -60px -25px;
}

.cart_header .area_wraper .adress{
	float: left;
    height: 22px;
    line-height: 22px;
    padding: 2px 0px 2px 11px;
    border: 1px solid #eceaea;
    border-radius: 5px;
    cursor: pointer;
}
.area_wraper .adress>ul{
	float: left;
	margin-top: 5px;
}
.area_wraper>span{
	color: #333;
}
.area_wraper .adress li{
	float: left;
	height: 12px;
	font-size: 12px;
	line-height: 12px;
	padding-left: 10px;
	padding-right: 11px;
	color: #666;
	border-right: 1px solid #ccc;
}
.area_wraper .adress li:nth-of-type(1){
	padding-left: 0px;
}
.area_wraper .adress li:nth-of-type(3){
	border-right: none;
}
 .adress_box{
	position: absolute;
	display: none;
	width: 355px;
	height: auto;
	border: 1px solid #ccc;
	top: 8px;
	left: 50px;
	background: #fff;
	padding: 5px 10px 20px 9px;
	box-sizing: border-box;
	z-index: 9
}
 .adress_box>ul{
	overflow: hidden;
	float: left;
	width: 136px;
}
.adress_box>ul>li{
	float: left;
	width: 44px;
	height: 31px;
	border: 1px solid #e5e5e5;
	text-align: center;
	line-height: 31px;
	background: #f7f7f7;
	cursor: pointer;
	color:#666 ;
}
.adress_box>ul>li:nth-of-type(1){
	border-right: none;
}
.adress_box>ul>li:nth-of-type(2){
	border-right: none;
}
.adress_box>span{
	position: absolute;
	width: 18px;
	height: 18px;
	top: 5px;
	right: 11px;
	cursor: pointer;
	font-size: 18px;
	color: #ccc;
	font-family: "\5b8b\4f53";
	font-weight: normal!important;
	transition: all 1s;
	text-align: center;
	line-height: 18px

}
.adress_box>span:hover{
	transform-origin: 50% 50%;
	transform: rotate(360deg)
}
.adress_box>i{
	display: inline-block;
	float: right;
	width: 198px;
	height: 32px;
	border-bottom: 1px solid #e5e5e5;
}
.adress_box>ul>li.current{
	background: #fff;
	border-bottom: none;
}
.area_item_first,.area_item_second,.area_item_three{
	display: none;
	float: left;
	margin-top: 10px;
	width: 335px;
}
.adress_box>div>dl{
	overflow: hidden;
	padding: 5px 0;
	width: 335px;
}
.adress_box dt{
	float: left;
	height: 18px;
	width: 40px;
    border-right: 1px dotted #ebebeb;
    color: #999;
    line-height: 18px;
    margin-top: 2px;
}
.adress_box dd{
	float: left;
    color: #666;
    padding: 0 9px;
    cursor: pointer;
}
.adress_box dd:hover{
	background: #ff5e5e;
    color: #fff;
}
.adress_box>div.current{
	display: block;
}
.cart_list_header{
	height: 40px;
	border: 1px solid #ccc;
	border-radius: 2%;
	margin-bottom: 20px;
	line-height: 40px;
	color: #666;
	background: #fff;
}
.adress_box dd.on{
	background: #ff5e5e;
	color: #fff;
}
.checkbox{
	display: inline-block;
    cursor: pointer;
}
.check{	
    width: 12px;
    height: 12px;
    margin-right: 20px;
    position: relative;
  	float: left;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    background-color: #fff;
    cursor: pointer;
}
.checkfix{
	background: url('../images/others/searchSprite_png24.png') -147px -48px;
}
.cart_list_header .check{
	margin-top: 13px;
}
.cart_list_header .checkbox{
	width: 128px;
	margin-left: 30px;
}
.cart_list_header .tit{
	margin-right: 149px;
}
.cart_list_header .cart_price{
	margin-right: 158px;
}
.cart_list_header .num{
	margin-right: 172px;
}
.cart_list_header .total{
	margin-right: 88px;
}

.cart_list{
	border-radius: 1%;
	border: 1px solid #ccc;	
	background: #fff;
	margin-bottom: 20px;
}
.cart_tit{
	padding-left: 30px;
	box-sizing: border-box;
	height: 55px;
	line-height: 55px;
	border-bottom: 1px solid #ccc;
}
.cart_tit .checkbox{
	font-size: 14px;
	color: black;
}
.cart_list .cash{
	position: relative;
	float: left;
	margin-top: 15px;
	margin-left: 30px;
	width: 342px;
	height: 228px;
	width: 65px;
	height: 24px;
	background: url('../images/others/sprite.png');
}
.cart_list .cash .cash_tit{
	overflow: hidden;
	cursor: pointer;
}
.cart_list .cart_tit .cash_box{
	position: absolute;
	display: none;
	top: 24px;
	width: 300px;
	background: #fff;
    max-height: 182px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 15px 20px 0px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 94, 94);
    border-image: initial;
	border: 1px solid #ff5e5e;
	z-index: 7
}
.cart_tit .cash_box>p{
	height: 14px;
	line-height: 14px;
	font-size: 12px;
	margin-bottom: 15px;
}
.cart_tit .cash_box ul{
	overflow: hidden;
	width: 300px;
}
.cash_box>ul>li{
	height: 31px;
	margin-bottom: 20px;
}
.cash_box>ul>li .tickets{
	float: left;
	width: 46px;
	height: 26px;
	margin-right: 10px;
	border: 1px dashed #fff;
    background: #ff8c8c;
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 26px;
}
.tickets em{
	display: inline-block;
	font-style: normal;
}
.couponName,.rule_desc{
	float: left;
	width: 190px;
	height: 14px;
	font-size: 12px;
	line-height: 14px;
}
.couponName{
	margin-bottom: 2px;
}
.rule_desc{
	color: #666;
}
.get{
	float: right;
	width: 48px;
	height: 24px;
	margin-top: -15px;
	text-align: center;
	line-height: 24px;
	color: #666;
	border: 1px solid #ccc;
}
.cart_tit .cash .cash_bg{
	float: left;
	font-size: 12px;
	color: red;
	width: 40px;
	height: 24px;
	margin-left: 5px;
	line-height: 24px;
}
.cash>.cash_tit>em{
	position: absolute;
    top: 9px;
    right: 7px;
    width: 7px;
    height: 4px;
    background: url('../images/others/sprite.png') -30px -35px;
    overflow: hidden;
    transition: all 0.2s ease-out 0.3s;
}
.cart_list .cart_tit .checkbox{
	float: left;
}
.cart_list .cart_tit .check{
	margin-top: 20px;
}
.cart_list .cart_tit .checkbox:hover{
	color:  #ff5e5e;
}

.cart_list_one>li{
	height: 163px;
}
.cart_list_one .activity{
	overflow: hidden;
	height: 48px;
}
.activity_item{
	width: 1138px;
	margin: 23px auto 0;
	height: 20px;
	line-height: 20px;
}
.activity_item .checkbox{
	float: left;
	margin-left: 0;
}
.activity_item .tag{
	float: left;
	text-align: center;
	width: 34px;
	height: 18px;
	color: #fda55b;
    border: 1px solid #fda55b;
	margin-left: -5px;
}
.ac_tit{
	float: left;
	height: 16px;
	width: 146px;
	border-right: 1px solid #ccc;
	margin-left: 12px;
	color: #666;
	margin-top: 2px;
}
.total_price{
	float: left;
	height: 16px;
	margin-left: 12px;
	margin-top: 2px;
	line-height: 16px;
	color: #666;
}
.total_price em:nth-of-type(1){
	color: #666;
    font-family: "Tahoma";
    font-weight: bold;
}
.total_price em:nth-of-type(2){
	color: #ff5e5e;
    font-family: "Tahoma";
    font-weight: bold;
}
.act_a{
	float: left;
	margin-left: 34px;
	color: #666;
}
.cart_list_one .list_bottom{
	height: 115px;
}
.cart_list_one .list_bottom:hover{
	background:#fff7f7; 
}
.list_bottom .pro_item{
	width: 1137px;
	height: 115px;
	margin: 0px auto;
	padding: 20px 0px;
	box-sizing: border-box;
	border-bottom: 1px dotted #ccc;
}
.list_bottom:last-child{
	border-bottom: none;
}
.list_bottom .pro_item .check{
	margin-top: -45px;
}
.pro_item .pro_detalis{
	width: 1103px;
	height: 75px;
	float: right;
}
.pro_detalis .shop_img{
	float: left;
	width: 75px;
	height: 75px;
	margin-right: 20px;
}
.pro_detalis .shop_tit{
	float: left;
	line-height: 20px;
	width: 250px;
	height: 75px;
	padding-top: 5px;
	box-sizing: border-box;
}
.shop_tit .fresh_tag{
	padding: 3px;
	border: 1px solid #9df6b8;
    background-color: #dfffee;
    color: #00d65b;
}
.shop_tit a{
	color: #333;
}
.shop_tit a:hover{
	color: #ff5e5e;
}
.shop_tit .edit{
	height: 22px;
	width: 250px;
	position: relative;
}
.shop_tit .edit .edit_tit{
	/* position: relative; */
	float: left;
	margin-top: 4px;
	margin-right: 5px;
	width: 16px;
	height: 15px;
	border-radius: 1%;
	background: url('../images/others/odr_cfm_spt.png') -28px -20px;
}
.edit .prop_dialog_inner{
	position: absolute;
	display: none;
	width: 383px;	
	top: 26px;
	left: 0px;
	height: auto;
	padding: 15px 20px;
	box-sizing: border-box;
	border: 1px solid #ff5e5e;
	background: #fff;
	z-index: 2;
}
.prop_dialog_inner .prop_item{
	width: 345px;
	overflow: hidden;
	color: #333;
}
.prop_dialog_inner .prop_item p{
	float: left;
	display: inline-block;
	width: 63px;
	height: 50px;
	padding: 5px 0px;
}
.prop_item>ul{
	float: left;
	width: 268px;
	overflow: hidden;
}
.prop_item>ul>li{
	position: relative;
	float: left;
	padding: 0px 10px;
	margin-right: 5px;
	margin-top: 5px;
	height: 34px;
	text-align: center;
	line-height: 34px;
	border: 1px solid #ddd;
	cursor: pointer;
}
.prop_item>ul>li:hover{
	border-color: #ff5e5e;
}
.prop_item>ul>li>span{
	position: absolute;
	bottom: -3px;
	right: 0;
	width: 12px;
	height: 14px;
}
.prop_item>ul>li.ye{
	border-color: #ff5e5e;
}
.trianglefix{
	right: 340px!important;
}
.btnfix{
	background-color: #ff6c6c;
	border-color: #ff6c6c;
	color: #fff;
}
span.ye{
	background:url('../images/others/searchSprite_png24.png') -29px -472px;
}
.btn_box{
	width: 345px;
	padding-top: 15px;
    text-align: center;
}
.btn_box .unable {
    background: #eee;
    color: #666;
    border-color: #ddd;
    cursor: default;
}
.btn_box .cancel {
    border-color: #ddd;
    background: #fcfcfc;
    color: #666;
}
.btn_box a {
    display: inline-block;
    width: 75px;
    height: 26px;
    margin: 0 5px;
    border: 1px solid #ff5e5e;
    border-radius: 2px;
    color: #fff;
    line-height: 26px;
    text-align: center;
    cursor: pointer;
}
.shop_tit .edit .more_tit{
	position: absolute;
	margin-left: 22px;
	float: left;
	width: 202px;
	height: 22px;
}
.span_left{
	float: left;
	width: 183px;
	height: 20px;
	cursor: pointer;
}
.list_bottom:hover .span_left{
	border-top: 1px dashed #ccc;
	border-left: 1px dashed #ccc;
	border-bottom: 1px dashed #ccc;
}
.list_bottom:hover .modification{
	background: #ccc;
}
.more_tit:hover .span_left{
	border-top: 1px dashed #ff5e5e;
	border-left: 1px dashed #ff5e5e;
	border-bottom: 1px dashed #ff5e5e;
}
.more_tit:hover .modification{
	background: #ff5e5e;
}
.attributeName{
	float: left;
	padding: 4px;
	width: 175px;
	height: 12px;
	color: #aaa;
	line-height: 12px;	
}
.modification{
	float: right;
	width: 18px;
	height: 22px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	cursor: pointer;
}
.item_num{
	float: left;
	margin-top: 5px;
	height: 24px;
	text-align: right;
	margin-left: 162px;
	padding: 2px 0px;
	box-sizing: border-box;
	border: 1px solid #dfdfdf;
}
.item_num>span{
	float: left;
	width: 20px;
	height: 18px;
	text-align: center;
	cursor: pointer;
}
.item_num>span:hover{
	color: red;
}
.item_num .reducefix{
	border-right: 1px solid #dfdfdf;
}
.item_num .addfix{
	border-left: 1px solid #dfdfdf;
}
.pro_amount{
	float: left;
	width: 40px;
	height: 18px;
	border: 0;
	outline: 0;
	font-size: 12px;
	text-align: center;
}
.pro_item .pro_detalis .prices{
	float: left;
	line-height: 24px;
    font-family: 'Tahoma';
	width: 200px;
	margin-top: 5px;
	height: 24px;
	text-align: right;
}
.amount{
	line-height: 24px;
    font-family: 'Tahoma';
	float: left;
	margin-top: 5px;
	text-align: center;
	width: 232px;
	height: 43px;
}
.amount .item_a_money{
	line-height: 24px;
    font-family: 'Tahoma';
	font-weight: bold;
    color: #333;
}
.amount .item_a_weight{
	line-height: 18px;
    font-weight: normal;
    color: #666;
}
.collect{
	float: right;
	margin-top: 5px;
	width: 80px;
	height: 29px;
	text-align: right;
	text-align: center;
}
.collect>i{
	cursor: pointer;
	width: 20px;
	height: 21px;
    color: #afafaf;
    font-style: normal;
    font-family: "iconfont-cart" !important;
}
.enshrine{
	margin-right: 5px;
	font-size: 16px;
}
.dels{
	font-size: 20px;
}
.dels:hover{
	color: #ff5e5e;
}
.cart_amount {
    height: 50px;
    padding-right: 25px;
    border-top: 1px solid #dcdcdc;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #fefcfc;
    text-align: right;
}
.cart_amount .amount{
	float: right;
	text-align: right;
}
.cart_amount .amount span {
    color: #ff5e5e;
    line-height: 43px;
    font-weight: bold;
}
.amount>i{
	font-style: normal;
	color: #ff5e5e;
    line-height: 43px;
    font-weight: bold;
}
.pay_tools_bar{
	margin-top: 20px;
	height: 60px;
	background: #fff;
}
.pay_tools_bar_fixed{
	width: 100%;
	position: fixed;
	bottom: 0;
	background: #fff;
	border-top: 1px solid #ccc;
}
.preview{
	position: relative;
	/* display: none; */
	width: 1198px;
	margin: 0 auto;
	height: 115px;
	padding: 25px 20px 20px 20px;
	box-sizing: border-box;
	border: 1px solid #ff5e5e;
}
.onshow{
	display: block;
}
.rotation-triangle{
	position: absolute;
	top: -4px;
	right: 305px;
	display: inline-block;
	width: 6px;
	height: 6px;
	background: #fff;
	border-right: 1px solid #ff5e5e;
	border-bottom: 1px solid #ff5e5e;
	transform: rotate(-135deg)
}
.preview_box{
	position: relative;
	overflow: hidden;
	width: 1100px;
	height: 75px;
	margin: 0 auto;
}
.preview>span{
	position: absolute;
	width: 24px;
	height: 24px;
	text-align: center;
	line-height: 24px;
	top: 50px;
	cursor: pointer;
	color: #cdcdcd;
	font-size: 24px;
}
.preview>span:nth-of-type(1){
	left:20px;
}
.preview>span:nth-of-type(2){
	right: 20px;
}
.preview_list{
	position: absolute;
	width: 9999px;
}
.preview_list li{
	position: relative;
	width: 75px;
	height: 75px;
	margin-right: 20px;
	float: left;
	cursor: pointer;
}
.preview_list li span{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 75px;
	height: 0px;
	font-size: 12px;
	color: #fff;
	line-height: 24px;
	padding: 0px 4px;
	box-sizing: border-box;
	background: rgba(0,0,0,0.5)
}
.preview_list li i{
	display: inline-block;
	width: 65px;
	height: 20px;
	font-size: 12px;
	font-style: normal;
	color: #fff;
}
.tools_inner{
	width: 1200px;
	height: 60px;
	margin: 0px auto;
	line-height: 60px;
	font-size: 12px;
}
.tools_inner_left{
	float: left;
	width: 600px;
	height: 60px;
}
.tools_inner_left .checkbox{
	margin-left: 30px;
}
.tools_inner_left .checkbox b{
	color:#ff5e5e ;
	font-weight: bold;
}
.tools_inner_left .check{
	margin-top: 22px;
}
.tools_inner_right{
	float: right;
	width: 600px;
	height: 60px;
}
.del_by_query{
	margin-left: 25px;
	color: #666;
	padding-left: 25px;
	border-left: 2px solid #ccc;
	cursor: pointer;
}
.del_by_query:hover{
	color: #ff5e5e;
}
.clear_btn{
	float: right;
    display: inline-block;
    width: 110px;
    text-align: center;
    background-color: #ff6c6c;
    font-family: 'microsoft yahei';
    font-weight: bold;
    font-size: 17px;
    color: #fff;
    cursor: pointer;
}
.clear_btn:hover{
   background-color: #ff5e5e;   
}
.price_total_tip{
	float: right;
	height: 60px;
	margin-right: 20px;
}
.price_total_tip span{
	color: #ff5e5e;
	font-size: 16px;
	font-weight: bold;
}
.price_total_tip b{
	margin-left: 2px;
    font-size: 22px;
    font-family: 'Century Gothic','microsoft yahei','Tahoma';
}
.price_total_tip i{
	display: inline-block;
	width: 7px;
	height: 5px;
	background: url('../images/others/odr_cfm_spt.png') -2px -24px;
}
.price_total_tip i:hover{
	transform: rotate(180deg);
	transition: all 1s;
}
.view_control_tip{
	float: right;
	height: 60px;
	text-align: center;
	font-size: 12px;
}
.view_control_tip p{
	float: left;
	line-height: 15px;
	margin-top: 25px;
}
.view_control_tip p b{
	color:#ff5e5e ;
	font-weight: bold;
}
.view_control_tip span{
	float: right;
	line-height: 15px;
	margin-top: 25px;
	width: 40px;
	color: #666; 
	text-align: left;
	margin-left: 5px;
	border-right: 1px solid #ccc;
	cursor: pointer;
	margin-right: 16px;
}
h5.hot_sales_tit {
    height: 20px;
    padding-right: 10px;
    line-height: 20px;
    color: #ff9841;
    text-align: center;
    margin-top: 50px;
}
.sales_pro_tit p{
	line-height: 12px;
    padding-bottom: 12px;
    text-align: center;
    color: #999;
    font-size: 12px;
}
.your_like{
	position: relative;
	width: 1200px;
	height: 520px;
	padding: 40px 80px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border: 1px solid #ccc;
	margin: 10px auto 20px;
	background: #fff;
}
.move_left,.move_right{
	position: absolute;
	text-align: center;
	line-height: 24px;
	top: 50%;
	margin-top: -12px;
	width: 24px;
	height: 24px;
	cursor: pointer;
	font-size: 24px;
	color: #ccc;
}
.move_left{
	left: 15px;
}
.move_right{
	right: 15px;
}
.your_like .like_item{
	position: relative;
	overflow: hidden;
	width: 1040px;
	height: 470px;
}
.your_like .like_item_box{
	position: absolute;
	width: 9999px;
}
.your_like .like_item_box li{
	float: left;
	width: 150px;
	height: 470px;
	margin-right: 73px;	
}
.your_like .like_item_box li:nth-of-type(5n){
	margin-right: 0px;	
}
.like_item_box li .sale_item{
	width: 150px;
	height: 210px;	
	margin-bottom: 25px;
}
.like_item_box li .sale_item:hover .sale_cart_ico {
	display: inline-block;
}
.sale_item_img{
	position: relative;
	float: left;
	width: 150px;
	height: 150px;
	cursor: pointer;
}
.sale_cart_tit,.sale_cart_ico{
	position: absolute;
	right: 5px;
	bottom: 10px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	text-align: center;
	background: rgba(255,126,126,0.8);
}
.shop_name{
	float: left;
}
.shop_pic{
	float: left;
	display: inline-block;
	margin-top: 21px;
	margin-left: 5px;
	width: 16px;
	height: 16px;
	background: url('../images/others/sprite.png') 0 -25px;
}
.sale_item_img .sale_cart_tit{	
	opacity: 0;	
	width: 80px;
	font-size: 12px;	
	border-radius: 20px;	
}
.sale_item_img .sale_cart_ico{
	display: none;
	width: 30px;
	border-radius: 50%;
	color: #fff;
	font-size: 30px;
	text-align: center;
	line-height: 30px;
}
.sale_item_img .sale_cart_tit:hover{
	opacity: 1;
}

.sale_item_info{
	float: left;
	width: 150px;
	height: 60px;
}
.sale_item_info p{
	width: 150px;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #ff5e5e;
    text-align: center;
    font-size: 12px;
}
.sale_item_pri{
	
}
.sale_item_pri b{
	font-family: 'Tahoma';
    font-size: 13px;
}
.sale_item_tit>a{
	display: inline-block;
	width: 150px;
	cursor: pointer;
	color: #666;
}
.sale_item_tit a:hover{
	color: #ff5e5e;
}
.like_item>ol{
	position: absolute;
	left: 54%;
	bottom: 20px;
	bottom: 15px;
}
.like_item>ol>li{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: rgb(229, 229, 229);
    cursor: pointer;
    margin: 5px;
}
.control_btn{
	position: fixed;
	width: 34px;
	height: 142px;
	right: 0;
	bottom: 90px;
}
.control_btn a{
	display: inline-block;
	position: relative;
	width: 34px;
	height: 34px;
	margin-bottom: 2px;
	text-align: center;
	line-height: 34px;
	background: #918a8a;
}
.control_btn a:hover{
	background: #ff5e5e;
}
.control_btn a i{
	width: 34px;
	height: 34px;
	font-size: 20px;
	color: #fff;
	text-align: center;
	line-height: 34px;
}
.control_btn em{
	position: absolute;
	display: none;
    left: 0;
    top: 0;
    height: 34px;
    background: #ff5e5e;
    color: #fff;
    font-style: normal;
    font-size: 12px;
    text-align: left;
    padding-left: 10px;
    border-radius: 2px 0 0 2px;
}
.collect_box{
	position: fixed;
	right: -293px;
	bottom: 0;
	width: 286px;
	height: 100%;
	background: #fff;
	box-shadow: 0px 0px 10px 2px #aaa;
}
.collect_box .the_same_close{
	position: absolute;
	cursor: pointer;
 	left: 14px;
 	top: 14px;
 	font-style: normal;
 	text-align: center;
 	line-height: 30px;
 	font-size: 18px;
}
.collect_box h4{
	height: 30px;
	width: 100%;
	margin: 10px 0px 14px 0px;
	text-align: center;
	line-height: 30px;
	font-family: 'microsoft yahei';
    font-size: 15px;
    color: #333;
    font-weight: normal;
}
.collect_box ul{
	width: 248px;
	margin: 0 auto;
}
.collect_box li{
	position: relative;
	height: 108px;
	padding-top: 14px;
	box-sizing: border-box;
	border-bottom: 1px dotted #ccc;
}
.collect_box img{
	float: left;
	margin-right: 10px;
}
.collect_box>ul p{
	float: left;
	width: 158px;
	height: 47px;
	font-size: 12px;
	color: #333;
	line-height: 20px;
	margin-bottom: 12px;
}
.collect_box>ul span{
	color:#ff5e5e;
	font-size: 12px;
	font-family: 'Tahoma';
	font-weight: bold;
}
.collect_box>ul i{
	position: absolute;
	right: 0;
	bottom: 14px;
	width: 30px;
	height: 30px;
	text-align: center;
	font-size: 30px;
	color: #fff;
	line-height: 30px;
	border-radius: 50%;
	background: rgba(255,126,126,0.8);
}
.tp_see_more {
    margin: 15px auto;
    text-align: center;
    font-size: 12px;
}
.tp_see_more a {
    display: inline-block;
    padding: 0 15px;
    height: 24px;
    border-radius: 12px;
    line-height: 24px;
    background-color: #eaeaea;
    color: #666;
}
.del_all {
    height: 20px;
    width: 248px;
    line-height: 18px;
    text-align: center;
    color: #aaa;
    margin: 0 auto;
    font-size: 12px;
    cursor: pointer;
}
.del_all:hover{
	color: red;
}
.cup{
	position: absolute;
	display: none;
    left: 0;
    top: 0;
    z-index: 5;
    width: 286px;
    height: 100%;
   background: rgba(0,0,0,0.6)
}
.cup .del_tip{
	position: absolute;
    left: 20px;
    top: 50%;
    z-index: 6;
    width: 246px;
    height: 154px;
    background: #fff;
    margin: -77px 0 0 0;
}
.d_list_header,.d_list_cont{
	text-align: center;
	font-size: 12px;
}
.d_list_header{
	margin-top: 10px;
	margin-bottom: 10px;
    font-weight: bold;
}
.d_list_cont{
	height: 36px;
    line-height: 16px;
    padding: 5px 8px;
    overflow: hidden;
    color: #666;
}
.del_tip>span{
	display: inline-block;
	padding:10px 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
	text-align: center;
	font-size: 12px;
	cursor: pointer;
}
.cancel{
	margin-left: 40px;
	color: #666;
}
.del_confirm{
	background: #ff5e5e;
	color: #fff;
	border: 0
}